@font-face {
  font-family: Montserrat-Regular;
  src: url(fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(fonts/Montserrat-Light.otf);
}

.main-logo-header {
  margin-left: 50px;
  padding: 20px;
}

.heading {
  color: #676767;
  font: 25px Montserrat-Regular;
}
.menu-list {
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
  overflow: hidden;
  background-color: #E30866;
}
  
.menu-list li {
  float: left;
  margin-right: 50px;
}

.menu-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 14px Montserrat-Regular;
}

.menu-list li a:hover {
  background-color: #624764;
}
  
.about-heading {
  color: #E30866;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  font: 14px Montserrat-Regular;
}

.about-sub-content {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  font: 14px Montserrat-Light;
  color: #676767;
  line-height: 2.5;
}

.about-cityu-brand-heading {
  color: #E30866;
  font-weight: bold;
  font: 14px Montserrat-Regular;
}

.about-cityu-brand {
  margin-top: 25px;
  width: 100%;
  text-align: center;
}

.about-cityu-brand-content {
  display: inline-block;
  width: 20%;
  font: 14px Montserrat-Light;
  color: #676767;
  line-height: 2;
  padding: 30px;
  margin: 0 auto;
}

.icon-heading {
  text-align: center;
  color: #E30866;
  margin-bottom: 10px;
}

.icon-content {
  text-align: center;
}

.icons {
  display: block;
  margin: auto;
}

.learn-more {
  margin: auto;
  display: block;
  background-color: #E30866;
  border: none;
  border-radius: 50px/50px;
  padding: 15px;
  width: 12%;
  font: 12px Montserrat-Regular;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 10%;
}

.services-content {
  text-align: center;
  float: right;
}

.services-content-heading {
  color: #E30866;
  font: 18px Montserrat-Regular;
  margin-bottom: 20px;
}

.services-content-text, .latest-news-text {
  color: #676767;
  font: 14px Montserrat-Light;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  line-height: 2;
  margin-bottom: 10%;
}

.bottom-logos-parent {
  margin-left: 15%;
}

.bottom-logos {
  width: auto;
  float: left;
  cursor: pointer;
}

.footer-images-parent {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.footer-images {
  cursor: pointer;
}

.bottom-logos-icons {
  cursor: pointer;
}

.lates-news-content {
  margin-top: 10%;
}

.latest-news-text {
  margin-bottom: 5%;
}

.footer-main {
  background-color: #656565;
  width: 100%;
  height: 15%;
  position: absolute;
  border-bottom: 15px solid #E30866;
  margin-top: 25px;
}

.footer-list {
  list-style-type: none;
  width: 600px;
}

.footer-list a {
  text-decoration: none;
  color: #ffffff;
  font: 8px Montserrat-Light;
}

.footer-list li {
  float: left;
  margin-right: 20px;
}

.footer-image-brand {
  right: 100px;
  position: absolute;
}
.slick-prev:before, .slick-next:before{
    color:red !important;
}
.slick-prev{
    left:5px !important;
    z-index: 99
} 
.slick-next{
    right:7px !important;
}
.slick-next {
  background: url("images/next_arrow.PNG") !important;
  width: 30px !important;
  height: 30px !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  right: 0px !important;
}

.slick-prev {
  background: url("images/previous_arrow.PNG") !important;
  width: 30px !important;
  height: 30px !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  left: 0px !important;
  z-index: 1;
}

.slick-next:before, .slick-prev:before {
  content: none !important;
}

.image-slider-icons {
  height: 20% !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.floating-icons-parent {
  position: fixed;
  top: 35%;
  right: 0px;
}

.floating-icons {
  display: block;
  cursor: pointer;
}

.floating-icons:hover {
  background: #E30866;
  -webkit-filter: brightness(0.6)contrast(3.4)hue-rotate(217deg)saturate(9.9);
    filter: brightness(0.6)contrast(3.4)hue-rotate(217deg)saturate(9.9);
}

.slick-dots {
  bottom: 20px !important;
}

.slick-dots li button:before {
  content: ' \2014' !important;
  opacity: 1 !important;
  color: #ffffff !important;
  font-size: 26px !important;
  line-height: 0px !important;
  width: 40px !important;
}

.slick-dots li.slick-active button:before {
  color:#E30866 !important;
}

.slider-text {
  color: #ffffff;
  font: 24px Montserrat-Light;
  position: absolute;
  top: 140px;
  width: 300px;
  margin-left: 300px;
}
.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 40px; line-height: 1; color: red; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }
  
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
.floating-icons,.floating-icons-parent {
    display:none;
  }
}
@media only screen and (max-width: 600px) {
  .floating-icons,.floating-icons-parent {
    display:none;
  }
}


  
  